.movie-card {
  width: 90%;
  margin: 0.5em auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 70%
  );
}

.poster-image {
  width: 35% !important;
}

.text-content {
  flex: 1;
  padding: 1em;
  color: white;
}

.card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
}
.movie-list a {
  color: #333333;
  background-color: #555555;
  outline: 1px solid #10100f;
}
