.movie-details {
  margin-left: 3em;
  width: 95%;
  margin-top: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #555;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.movie-details .poster {
  flex: 0 0 30%;
  margin-right: 16px;
  min-width: 200px;
}

.movie-details .info {
  flex: 1;
  text-align: left;
  margin-left: 16px;
}

.movie-details img {
  width: 90%;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.movie-details h2 {
  font-size: 24px;
  margin-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-details p {
  margin: 8px 0;
}

.movie-details h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.movie-details section {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 16px;
}
